In [1]:
import pandas as pd

In [2]:
labels = pd.read_csv("../files/sorted/labels.csv")
labels

                     filename  sensitive
0         within-resource.xml       True
1         fly-camera-book.xml       True
2        illo-id-et-ullam.jpg       True
3       voluptatem-minima.jpg       True
4                 debitis.msg       True
..                        ...        ...
843          escrow-ether.png       True
844  export-t12-teneighty.jpg       True
845          huber-muster.png       True
846           meta-export.jpg       True
847           meta-object.jpg       True

[848 rows x 2 columns]

In [3]:
def split_filename(filename): 
    pair = filename.split(".")
    return tuple(pair) if len(pair) == 2 else (pair[0], "weird")

In [4]:
labels[["name", "extension"]] = labels.apply(lambda row: split_filename(row["filename"]), result_type='expand', axis = 1)

In [5]:
labels["extension"].value_counts()

pdf      105
xlsx     101
log      100
csv       99
md        66
html      60
pem       57
weird     55
ps1       48
pub       41
db        20
xml       19
docx      12
png       12
zip       10
txt       10
py        10
jpg       10
msg        7
mp3        6
Name: extension, dtype: int64

In [7]:
labels

                     filename  sensitive                  name extension
0         within-resource.xml       True       within-resource       xml
1         fly-camera-book.xml       True       fly-camera-book       xml
2        illo-id-et-ullam.jpg       True      illo-id-et-ullam       jpg
3       voluptatem-minima.jpg       True     voluptatem-minima       jpg
4                 debitis.msg       True               debitis       msg
..                        ...        ...                   ...       ...
843          escrow-ether.png       True          escrow-ether       png
844  export-t12-teneighty.jpg       True  export-t12-teneighty       jpg
845          huber-muster.png       True          huber-muster       png
846           meta-export.jpg       True           meta-export       jpg
847           meta-object.jpg       True           meta-object       jpg

[848 rows x 4 columns]

In [22]:
summary = pd.DataFrame()

In [28]:
summary["count"] = labels.groupby(by = "extension")["filename"].count()
summary["frequency"] = summary["count"] / summary["count"].sum()
summary["perc sensitive"] = labels.groupby(by = ["extension"])["sensitive"].mean()

summary = summary.sort_values(by = "frequency", ascending=False)

In [29]:
summary

           count  frequency  perc sensitive
extension
pdf          105   0.123821        0.476190
xlsx         101   0.119104        0.108911
log          100   0.117925        0.010000
csv           99   0.116745        0.111111
md            66   0.077830        0.196970
html          60   0.070755        0.050000
pem           57   0.067217        1.000000
weird         55   0.064858        0.163636
ps1           48   0.056604        0.333333
pub           41   0.048349        0.121951
db            20   0.023585        0.200000
xml           19   0.022406        0.105263
png           12   0.014151        0.250000
docx          12   0.014151        0.500000
jpg           10   0.011792        0.600000
py            10   0.011792        0.100000
txt           10   0.011792        0.100000
zip           10   0.011792        0.100000
msg            7   0.008255        0.285714
mp3            6   0.007075        0.000000